DISCORD_REVIEW_WEBHOOK_URL=#

NEXT_PUBLIC_GITHUB_ORGANISATION=#
NEXT_PUBLIC_DISCORD=#
NEXT_PUBLIC_DOWNLOAD=#
NEXT_PUBLIC_DOCS=#

NEXT_PUBLIC_IMRPINT_NAME=#
NEXT_PUBLIC_IMPRINT_STREET=#
NEXT_PUBLIC_IMRPINT_ZIP=#
NEXT_PUBLIC_IMPRINT_CITY=#
NEXT_PUBLIC_IMPRINT_COUNTRY=#
NEXT_PUBLIC_IMPRINT_NUMBER=#
NEXT_PUBLIC_IMPRINT_EMAIL=#